/*footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7%;;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

/*nav-bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: cursive;
    font-weight: 600;
    font-size: large;
    background-color: slategrey;
    display: flex; /* Flexbox layout for the navbar */
    align-items: center; /* Centers the items vertically */
    justify-content: center; /* Centers the items horizontally */
}
li {
    position: relative;
}

li a {
    display: block;
    /*color: white;*/
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

/* Hide the dropdown menu by default 
.dropdown-menu {
    overflow: hidden;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: slategrey;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
    list-style: none;
}

 Show the dropdown menu when hovering over the parent item 
li.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
}*/
/*
.dropdown-menu li a:hover {
    background-color: #111;
}*/

/*images*/
img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Ensures the image covers the entire viewport without distortion */
    position: absolute;  /* Keeps the image positioned relative to the body */
    top: 0;
    left: 0;
}
a.user{
    display: block;
    color: gainsboro;
    margin-left: 80%;
    font-style: italic;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}